.carrito-modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  transition: right 0.3s ease;
  z-index: 1000;
}

.carrito-content {
  position: relative;
  height: 100%;
  min-width: 320px;
  background: #ffff;
  z-index: 100;
  max-width: 430px;
}

.no-hay-producto {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.no-hay-producto--icon {
  font-size: 5em;
}

.no-hay-producto--title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .3em;
  margin-top: 1em;
  font-size: 1em;
  font-weight: 600;
}

.no-hay-producto--emoji {
  font-size: 1.3em;
}

.carrito-modal.open {
  right: 0;
}

.carrito-modal--header {
  width: 100%;
  text-align: center;
  left: 0;
  top: 0;
  position: absolute;
  padding-block: .3em;
  background-color: #1C1C1C;
  opacity: 95%;
  color: #ffff;
  font-weight: 600;
}

.carrito-modal--button--close {
  position: absolute;
  top: 25%;
  right: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  color: #ffff;
  border: none;
  cursor: pointer;
  font-size: 1em;
}

.carrito-contenedor--productos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  scroll-behavior: smooth;
  height: 77%;
  overflow-y: scroll;
  scrollbar-width: none;
}

.carrito-contenedor--productos--imagenes {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.carrito--contenedor--detalles {
  margin-inline: 1rem;
  margin-bottom: 2.6em;
  width: 360px;
  max-height: 100px;
  display: grid;
  grid-template-columns: 80px 215px 20px;
  grid-template-rows: 1fr;
}

.carrito-contenedor--productos--description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 1em;
  /* margin-right: 2em; */
}

.carrito-contenedor--productos--description---titulo {
  text-decoration: none;
  color: #1C1C1C;
  display: flex;
  gap: 1em;
  font-size: .8em;
}


.carrito-contenedor--productos--description---talla {
  font-size: 12px;
  font-weight: bold;
}

.carrito-contenedor--productos--description---precio {
  font-size: 1rem;
}

.carrito-contenedor--basura {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.carrito-contenedor--productos--description---basura {
  background: none;
  border: none;
  cursor: pointer;
}

.contenedor-compra {
  position: sticky;
  bottom: 0;
  padding-block: 1em;
  padding-inline: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: #ffff;
}

.contenedor-compra--monto {
  display: flex;
  justify-content: space-between;
}

.finalizar-compra {
  gap: .5em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btn-primary.special {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  height: 40px;
  font-weight: 600;
  letter-spacing: .5px;
  width: 100%;
}

.btn-primary.special:hover {
  transform: none;
}

.finalizar-compra--enlace {
  text-decoration: none;
  color: gray;
  display: flex;
  align-items: center;
  font-size: .7em;
  font-weight: 600;
  justify-content: center;
  gap: .3em;
}

.finalizar-compra--enlace---flecha {
  font-size: .75em;
}

.carrito {
  cursor: pointer;
  position: relative;
  color: #000000;
  font-size: 1.6em
}

.carrito-number {
  text-decoration: none;
  color: white;
  position: absolute;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fd0101;
  width: 19px;
  height: 19px;
  bottom: 1em;
  left: .8em;
}

.trash-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 1.9em;
  margin-top: 2em;

}

.trash {
  display: flex;
  margin-top: .5em;
  font-size: 1.2em;
  cursor: pointer;
}

.modal-open {
  overflow: hidden;
}

@media (min-width: 320px) and (max-width: 767px) {
  .carrito-modal--header p {
    font-size: .8rem;
  }
}

@media (min-width:320px) and (max-width:430px) {
  .contador {
    flex-direction: column-reverse;
  }

  .carrito--contenedor--detalles {
    width: max-content;
    grid-template-columns: 75px 190px 0px;
  }

  .btn-primary.special {
    font-weight: 500;
  }
}