/* Estilos para el título del menú */
.navbar--center-titulo {
  color: gray;
  font-weight: 500;
  text-decoration: none;
}

.navbar--center-titulo:hover {
  border-bottom: 2em solid rgb(255, 132, 0);
  padding-bottom: 1.3em;
  /* color: rgb(255, 132, 0); */
  border-width: 4px;
  transition: border-bottom 0.3s ease, padding-bottom 0.3s ease;
}

/* Estilos para el menú desplegable */
.contenedor--menu {
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin-block: 1.4em;
  padding-bottom: 2.7em;
  padding-top: 1em;
  background-color: #ffff;
}

/* Estilos para cada artículo del menú */
.contenedor--menu-articulo {
  display: flex;
  justify-content: space-evenly;
}

/* Estilos para el inicio del artículo del menú */
.contenedor--menu-articulo-inicio {
  font-size: .9em;
  width: 320px;
}

/* Estilos para la lista de subcategorías */
.contenedor--menu-articulo-lista {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
}

/* Estilos para los elementos de la subcategoría */

.contenedor--menu-articulo-lista>a,
.contenedor--menu-articulo-titulo>a {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  text-align: start;
  color: gray;
  font-weight: 600;
  transition: color 0.3s;
  /* Transición para el cambio de color al pasar el mouse */
}


/* Estilo al pasar el mouse sobre elementos de subcategoría y el título */
.contenedor--menu-articulo-lista a:hover,
.contenedor--menu-articulo-titulo:hover {
  color: rgb(255, 132, 0);
}

/* Estilo para el título */
.contenedor--menu-articulo-titulo {
  color: black;
  opacity: 80%;
  font-weight: 700;
  font-size: 1.2em;
}