.publicidad-mid {
  display: flex;
  justify-content: center;
  background-color: #13312c;
}

.publicidad-mid img {
  aspect-ratio: 559/125;
  width: 45%;
}

@media (min-width: 320px) and (max-width: 767px) {
  .publicidad-mid img {
    width: 100%;
  }
}