.containere {
  display: flex;
  margin: 5rem auto;
}

.producto {
  position: relative;
  display: grid;
  padding-top: 5em;
  margin: 0 auto;
  grid-template-columns: 100px 480px 440px;
  -webkit-animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.miniatura {
  display: grid;
  justify-items: center;
  align-content: start;
  grid-gap: 10px;
}

.miniatura img {
  cursor: pointer;
  width: 60px;
  height: 60px;
  background-color: #f6f6f6;
  padding: .3em;
  border-radius: 10%;
  object-fit: contain;
}

.contenedor--miniatura {
  display: flex;
  justify-content: center;
  align-content: center;
}

.producto--contenedor {
  min-width: 320px;
  max-width: 480px;
  height: 480px;
}

.producto--imagen {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  background-color: #f6f6f6;
  background-position: center;
  position: relative;
  border-radius: 5px;
}

.contenedor-detalle-producto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-inline: 3rem;
}

.detalle-producto--titulo h1 {
  font-size: 2em;
}

.detalle-producto--genero a {
  color: #1C1C1C;
  opacity: 70%;
  font-size: .9em;
}

.detalle-producto--description---colores {
  display: flex;
  flex-direction: column;
}

.color-optiones {
  display: flex;
  gap: 1em;
}

.color-optiones img {
  width: 60px;
  height: 60px;
}

.color-optione {
  width: 1.5em;
  height: 1.5em;
  margin: 3.8px 0px;
  border-radius: 10%;
  cursor: pointer;
  z-index: 2;
  background-color: #f6f6f6;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  opacity: 85%;
}

.tallas {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: space-between;
  gap: 8px;
  margin-top: 8px;
}

.tallas button {
  width: 60px;
  height: 40px;
  border-radius: 8%;
  background-color: #ffff;
  border: 1px solid rgba(0, 0, 0, 0.20);
  color: #1C1C1C;
  cursor: pointer;
}

.talla-container {
  position: relative;
}

.talla-info {
  position: absolute;
  bottom: 100%;
  width: 102px;
  left: 0;
  transform: translateX(-22%);
  border-radius: 5px;
  padding: 5px;
  display: none;
  background-color: #1c1c1c;
  color: white;
  z-index: 10;
}

.talla-info--division {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 40px;
  line-height: 1em;
}

.talla-info--nacional {
  text-align: center;
  font-size: 1.2em;
  padding-right: .3rem;
}

.hr-line {
  border-top: 2px solid #fff;
  margin-top: 3px;
  margin-bottom: -3px;
}

.talla-info--internacional {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: start;
  font-size: .7em;
  line-height: 1.7em;
}

.contenedor-contador-precio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detalle-producto--description---credito {
  text-align: end;
  font-size: .9em;
  font-weight: 700;
}

.cont-precio {
  display: flex;
  justify-content: space-between;
}

.contador,
.contador-special {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.contador p,
.contador-special p {
  font-weight: 700;
}

.contador button,
.contador-special button {
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding-block: .2em;
  padding-inline: .6em;
  color: #1C1C1C;
}

.precio {
  font-size: 2em;
}

.extra {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5em;
  padding-block: .5em;
}

.talla-info--nacional span {
  font-size: .4em;
}


.talla-info--internacional p {
  display: flex;
  justify-content: space-between;
}

.talla-container:hover .talla-info {
  display: block;
}

.producto .btn-secondary.special {
  width: 100%;
}

.tallas :focus {
  border: 1px solid black;
  border-radius: 5px;
  font-weight: 500;
}

.responsive-structure {
  -webkit-animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@media (min-width: 320px) and (max-width:767px) {
  .containere {
    justify-content: center;
    margin: auto;
  }

  .responsive-structure {
    padding-top: 5rem;
    display: block;
    margin-inline: 1rem;
  }

  .detalle-producto--titulo {
    font-size: 13px;
  }

  .producto--contenedor {
    min-width: 0;
    height: auto;
    margin-top: 1rem;
  }

  .producto--imagen {
    position: relative;
    height: 288px;
  }

  .detalle-producto--description---colores {
    position: relative;
  }

  .color-optionse {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
  }

  .color-option {
    margin: 0;
  }

  .miniatura {
    display: flex;
    flex-wrap: wrap;
    margin-block: 1rem;
    gap: 16px;
  }

  .tallas {
    grid-template-columns: repeat(4, auto);
  }

  .contenedor-contador-precio {
    margin-block: 1rem;
  }

  .cont-precio {
    margin-top: 1rem;
  }

  .precio {
    font-size: 1.5rem;
  }

  .responsive-structure .btn-secondary.special {
    width: 100%;
  }

  .producto {
    display: none;
  }
}

@media (min-width: 360px) {
  .tallas {
    grid-template-columns: repeat(5, auto);
  }

  .miniatura {
    gap: 7px;
  }
}

@media (min-width:375px) {
  .tallas {
    grid-template-columns: repeat(5, auto);
  }

  .miniatura {
    gap: 10.7px;
  }
}

@media (min-width: 390px) {
  .miniatura {
    gap: 14.5px;
  }
}

@media (min-width: 411px) {
  .miniatura {
    gap: 19.7px;
  }
}

@media (min-width:425px) {
  .tallas {
    grid-template-columns: repeat(5, auto);
  }

  .miniatura {
    gap: 6.6px;
  }
}

@media (min-width:490px) {
  .tallas {
    grid-template-columns: repeat(7, auto);
  }

  .miniatura {
    gap: 6.3px;
  }
}

@media (min-width:516px) {
  .miniatura {
    gap: 10px;
  }
}

@media (min-width: 768px) {
  .responsive-structure {
    display: none;
  }

  .producto {
    position: relative;
    display: grid;
    margin: 0 auto;
    padding-top: 1rem;
    grid-template-columns: 90px 340px 340px;
  }

  .detalle-producto--titulo h1 {
    font-size: 1.4em;
  }

  .tallas {
    grid-template-columns: repeat(4, auto);
  }

  .contenedor-detalle-producto {
    margin-inline: 1.5rem;
  }

  .containere {
    margin-top: 5rem;
    margin-bottom: 0rem;
  }
}

@media (min-width: 1024px) {
  .producto {
    grid-template-columns: 90px 480px 440px;
  }

  .detalle-producto--titulo h1 {
    font-size: 2rem;
  }

  .containere {
    margin-top: 10rem;
    margin-bottom: 5rem;
  }

  .tallas {
    grid-template-columns: repeat(6, auto);
  }
}

@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}