.containere {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  height: 100%;
  margin-top: 5em;
  margin-bottom: 10em;
  padding-inline: 9.3em;
  justify-content: center;
}

.producto {
  display: flex;
  padding-top: 4.9em;
  justify-content: center;
}

.producto--contenedor {
  min-width: 320px;
  max-width: 480px;
  height: 460px;
  width: 45%;
}

.producto--imagen {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  background-color: #f6f6f6;
  background-position: center;
  top: 0;
  position: relative;
  border-radius: 5px;
}

.detalle-producto {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 25%;
  flex-direction: column;
  margin-inline: 4em;
}

.contenedor-detalle-producto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.detalle-producto--titulo h1 {
  font-size: 2em;
  margin-bottom: -5px;
}

.detalle-producto--genero {
  opacity: 70%;
  font-size: .9em;
}

.detalle-producto--description---credito {
  text-align: end;
  font-size: .9em;
  font-weight: 700;
  opacity: 90%;
  padding-block: 1em;
}

.detalle-producto--description---colores {
  padding-bottom: 1em;
}

.miniatura {
  display: grid;
  justify-items: center;
  align-content: start;
  grid-gap: 20px;
  width: 7%;
}

.contenedor--miniatura {
  display: flex;
  justify-content: center;
  align-content: center;
}

.miniatura img {
  cursor: pointer;
  width: 60px;
  height: 60px;
  background-color: #f6f6f6;
  padding: .3em;
  border-radius: 10%;
  object-fit: contain;
}

.extra {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5em;
  padding-block: .5em;
}

.color-optiones {
  display: flex;
  gap: 1em;
}

.color-optiones img {
  width: 60px;
  height: 60px;
}

.color-optione {
  width: 1.5em;
  height: 1.5em;
  margin: 3.8px 0px;
  border-radius: 10%;
  cursor: pointer;
  z-index: 2;
  background-color: #f6f6f6;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  opacity: 85%;
}

.tallas {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 8px;
  margin-top: 8px;
}

.tallas button {
  width: 60px;
  height: 40px;
  border-radius: 8%;
  background-color: #ffff;
  border: 1px solid rgba(0, 0, 0, 0.20);
  color: black;
  cursor: pointer;
}

.tallas button.selected-button {
  color: black;
  border: 1px solid rgba(0, 0, 0);
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.precio {
  font-size: 2em;
}

.talla-container {
  position: relative;
}

.talla-info {
  position: absolute;
  bottom: 100%;
  width: 120px;
  left: 0;
  transform: translateX(-50%);
  border-radius: 5px;
  padding: 5px;
  display: none;
  background-color: #1c1c1c;
  color: white;
  z-index: 10;
}

.talla-info--division {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 40px;
  line-height: 1em;
}

.talla-info--nacional {
  text-align: center;
  font-size: 1.2em;
  font-weight: 60;
  margin-inline: .3em;
}

.talla-info--nacional span {
  font-size: .4em;
}

.talla-info--internacional {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: start;
  font-size: .7em;
  line-height: 1.7em;
}

.talla-info--internacional p {
  display: flex;
  justify-content: space-between;
}

.talla-container:hover .talla-info {
  display: block;
}

.contenedor-contador-precio {
  display: flex;
  justify-content: space-between;
  margin-block: 1em;
}

.contador {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.contador p {
  font-weight: 700;
}

.contador button {
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding-block: .2em;
  padding-inline: .6em;
}