.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.lista-de-productos {
  margin-top: 6em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  max-width: 100%;
  gap: 3em;
  margin-bottom: 6em;
}

.productos {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 3em;
  width: 280px;
  height: 420px;
  cursor: pointer;
  border-radius: 25px;
  background-color: #f6f6f6;
}