.contenedor--titulo-navegacion {
  color: black;
  left: 0;
  position: relative;
}

.contenedor--encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenedor--encabezado svg {
  cursor: pointer;
  font-size: 1.4em;
  margin-right: .2rem;
  position: relative;
}

.filtro-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 1em;
  padding-block: 1.8em;
  width: 160px;
  margin-top: 130px;
  right: 13em;
  position: absolute;
  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 6px;
  z-index: 10;
  font-size: .8em;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container label {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 8px;
}

.checkbox-container input {
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
  margin-right: 8px;

}

.checkbox-container input:checked {
  accent-color: black;
}

.lista-de-productos {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(142px, 1fr));
  margin-bottom: 6em;
}

.productos {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  cursor: pointer;
  padding-block: 1em;
  padding-inline: 10px;
  border-radius: 5px;
  background-color: #f6f6f6;
  color: black;
}

.productos a {
  position: relative;
  display: flex;
  overflow: hidden;
  height: 100%;
  flex-direction: column;
}

.logo-shoes {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 40px;
  z-index: 2;
}

.shoes {
  display: flex;
  max-width: 100%;
  transform: rotate(30deg) scaleX(-1);
  z-index: 1;
  transition: transform 0.3s ease, filter 0.3s ease;
  opacity: 85%;
}

.color-options {
  position: absolute;
  top: 30px;
  right: 10px;
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.color-option {
  width: 1.2em;
  height: 1.2em;
  margin: 0 10px;
  border-radius: 20%;
  cursor: pointer;
  z-index: 2;
  box-shadow: inset 0px 4px 5px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  opacity: 85%;
}

.color-option:hover {
  transform: scale(1.3);
}

.shoes:hover {
  transform: scale(1.15) rotate(0deg) scaleX(-1);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.ropa-hover img {
  transform: scaleX(1);
  transition: transform 0.3s ease-in-out;
}

.ropa-hover img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.description-shoes {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 3;
}


.description-shoes-price {
  display: flex;
  justify-content: end;
}

.description-shoes h3 {
  font-size: 1em;
  color: black;
}

.description-shoes-par {
  font-size: 0.6em;
  color: gray;
}

.contenedor-button {
  justify-content: space-between;
  align-items: center;
  display: flex;
  font-weight: 700;
}

.contenedor-button-precios {
  text-align: end;
}

.contenedor-button-precios--oferta {
  text-decoration: line-through;
  color: #fd0101;
  font-size: 12px;
}

.btn-secondary.special {
  display: flex;
  font-size: .8em;
  padding-block: .5em;
  align-items: center;
  justify-content: center;
  width: 30%;
  border-radius: 5px;
}

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44vh;
}

.not-found .icons {
  font-size: 1.5em;
}

.icon {
  display: flex;
}

.lista {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2em;
  margin-bottom: 6em;
}

@media(min-width:320px) {
  .lista-de-productos {
    margin-inline: 1rem;
    gap: 1rem;
  }

  .lista {
    margin-inline: 1rem;
  }

  .not-found {
    margin-inline: 1rem;
    font-size: 1rem;
    text-align: center;
  }

  .contenedor--encabezado {
    padding-inline: 1rem;
  }

  .titulo--paginas {
    font-size: 1.3rem;
  }

  .description-shoes {
    padding-bottom: 1rem;
  }

  .anade--carrito {
    position: absolute;
    opacity: 0;
  }

  .description-shoes-par {
    opacity: 0;
    position: absolute;
  }

  .color-options {
    opacity: 0;
    position: absolute;
  }

  .contenedor-button-precios--oferta {
    opacity: 0;
    position: absolute;
  }
}

@media (min-width: 375px) {
  .contenedor--encabezado {
    padding-inline: 1rem;
  }

  .lista-de-productos {
    margin-inline: 1rem;
  }

  .description-shoes h3 {
    font-size: 12px;
  }

  @media (min-width: 425px) {
    .description-shoes h3 {
      font-size: 1rem;
    }
  }

  @media (min-width:648px) {
    .lista-de-productos {
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: 2rem;
    }

    .lista {
      gap: 2rem;
    }

    .color-options {
      right: 0;
      opacity: 1;
      top: 10px;
    }
  }

  @media (min-width: 768px) {
    .not-found {
      font-size: 2rem;
    }

    .flex {
      display: flex;
      align-items: center;
      gap: .5rem;
    }
  }

  @media (min-width:820px) {
    .lista-de-productos {
      grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
      gap: 2rem;
    }
  }

  @media(min-width:755px) {
    .description-shoes-par {
      opacity: 0;
      position: absolute;
    }

    .anade--carrito {
      position: relative;
      opacity: 1;
    }

    .btn-secondary.special {
      width: 60%;
    }

    .flex {
      display: flex;
      align-items: center;
      gap: .5rem;
    }

    .logo-shoes {
      width: 50px;
      left: 10px;
    }
  }

  @media (min-width: 1024px) {
    .description-shoes-par {
      opacity: 1;
      position: relative;
    }

    .contenedor--encabezado {
      padding-inline: 3rem;
    }

    .lista-de-productos {
      padding-inline: 2rem;
    }

    .lista {
      padding-inline: 2rem;
    }

    .description-shoes-par {
      font-size: 14px;
    }
  }

  @media (min-width:1370px) {
    .contenedor--encabezado {
      padding-inline: 9rem;
    }

    .lista {
      padding-inline: 8rem;
    }

    .lista-de-productos {
      padding-inline: 8rem;
    }
  }

  @media (min-width: 1825px) {
    .lista-de-productos {
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
  }
}