.contenedor--titulo-navegacion {
  color: black;
  left: 0;
  position: relative;
}

.contenedor--encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-inline: 3rem; */
  /* margin-right: 1.8em; */
}



.contenedor--encabezado svg {
  cursor: pointer;
  font-size: 1.4em;
  margin-right: .2rem;
  position: relative;
}

.filtro-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 1em;
  padding-block: 1.8em;
  min-width: 160px;
  margin-top: 130px;
  right: 13em;
  position: absolute;
  background-color: rgba(128, 128, 128, 0.3);
  /* border: 1px solid rgba(0, 0, 0, 0.5); */
  border-radius: 6px;
  z-index: 10;
  font-size: .8em;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container label {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 8px;
}

.checkbox-container input {
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
  margin-right: 8px;

}

.checkbox-container input:checked {
  accent-color: black;
}

.lista-de-productos {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(142px, 1fr));
  /* max-width: 100vw; */
  /* align-items: start; */
  justify-items: center;
  /* gap: 2em; */
  margin-bottom: 6em;
}

.productos {
  position: relative;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* padding-inline: 3em; */
  /* max-width: 142px; */
  /* height: 420px; */
  cursor: pointer;
  padding-block: 1em;
  padding-inline: 10px;
  border-radius: 5px;
  /* opacity: 100%; */
  background-color: #f6f6f6;
  color: black;
  /* text-decoration: none; */
}

.productos a {
  position: relative;
  display: flex;
  overflow: hidden;
  /* justify-content: space-evenly; */
  height: 100%;
  flex-direction: column;
  /* background-color: green; */
}

.logo-shoes {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 40px;
  z-index: 2;
}

.shoes {
  /* position: relative; */
  display: flex;
  /* align-items: center; */
  /* top: 1em; */
  /* left: -6px; */
  max-width: 100%;
  /* overflow: hidden; */
  /* height: 220px; */
  /* border-radius: 0; */
  transform: rotate(30deg) scaleX(-1);
  z-index: 1;
  /* margin-bottom: 0.7em; */
  transition: transform 0.3s ease, filter 0.3s ease;
  opacity: 85%;
}

.color-options {
  position: absolute;
  top: 30px;
  right: 10px;
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.color-option {
  width: 1.2em;
  height: 1.2em;
  margin: 0 10px;
  border-radius: 20%;
  cursor: pointer;
  z-index: 2;
  box-shadow: inset 0px 4px 5px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  opacity: 85%;
}

.color-option:hover {
  transform: scale(1.3);
}

.shoes:hover {
  transform: scale(1.15) rotate(0deg) scaleX(-1);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.ropa-hover img {
  transform: scaleX(1);
  transition: transform 0.3s ease-in-out;
}

.ropa-hover img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.description-shoes {
  position: relative;
  /* text-decoration: none; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  z-index: 3;
  /* height: 135px; */
  /* margin-bottom: .8em; */
  /* padding-top: .5em; */
}


.description-shoes-price {
  display: flex;
  justify-content: end;
  /* align-items: center; */
  /* gap: 0.4em; */
}

.description-shoes h3 {
  font-size: 1em;
  /* text-transform: uppercase; */
  color: black;
}

.description-shoes-par {
  font-size: 0.6em;
  color: gray;
}

/* .description-shoes-price p {
  text-align: end;
}

.description-shoes-price span {
  font-size: 12px;
  font-weight: bold;
  color: black;
} */

.contenedor-button {
  justify-content: space-between;
  align-items: center;
  display: flex;
  font-weight: 700;
}

.contenedor-button-precios {
  display: flex;
  flex-direction: column;
  text-align: end;
  justify-content: center;
}

.contenedor-button-precios--oferta {
  text-decoration: line-through;
  color: #fd0101;
  font-size: 12px;
}


.btn-secondary.special {
  font-size: .8em;
  padding-block: .5em;
  /* width: 100%; */
}

.not-found {
  display: flex;
  align-items: center;
  height: 44vh;
}

.not-found .icons {
  font-size: 1.5em;
}

.icon {
  display: flex;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5em;
}

@media(min-width:320px) {
  .lista-de-productos {
    margin-inline: 1rem;
    /* grid-template-columns: 1fr 1fr; */
    gap: 1rem;
  }

  .contenedor--encabezado {
    padding-inline: 1rem;
  }

  .titulo--paginas {
    font-size: 1.3rem;
  }

  .description-shoes h3 {
    font-size: 12px;
  }

  .btn-secondary.special {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    border-radius: 5px;
  }
}

@media (min-width: 375px) {
  .contenedor--encabezado {
    padding-inline: 1rem;
  }

  .lista-de-productos {
    margin-inline: 1rem;
  }

}

@media (min-width: 425px) {}

@media (min-width: 791px) {
  .contenedor--encabezado {
    padding-inline: 3rem;
  }

  .lista-de-productos {
    padding-inline: 2rem;
  }
}

@media (max-width: 1023px) {}

@media (min-width: 1300px) {}

@media (min-width:1440px) {}