.contenedor {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 5.4em;
}

.section-top--video {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
  aspect-ratio: 127/62;
}

.btn-video {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-pause {
  cursor: pointer;
  position: absolute;
  color: #fff;
  font-size: 5rem;
  z-index: 99;
}

.publicidad-video {
  font-size: 2em;
  text-align: center;
  padding-block: 1em;
}


@media (min-width: 320px) and (max-width: 767px) {
  .publicidad-video {
    font-size: 1.3rem;
    padding-inline: .8em;
  }

  .section-top--video {
    aspect-ratio: 1/1;
  }
}