.contenedor {
  position: relative;
  top: 5.4em;
}

.section-top--video {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
}

.btn-video

/* boton del video */
  {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video video {
  position: relative;

  object-fit: cover;
}

.button-pause {
  cursor: pointer;
  position: absolute;
  width: 100px;
  z-index: 99;
}

.publicidad-video {
  font-size: 2em;
  text-align: center;
  padding-block: 1em;
}


@media (min-width: 320px) and (max-width: 767px) {
  .publicidad-video {
    font-size: 1.3rem;
    padding-inline: .8em;
  }

  .button-pause {
    width: 70px;
  }
}