/* Estilos generales del navbar */
.navbar {
  display: flex;
  position: fixed;
  left: 0;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  padding-block: 1.2em;
  padding-inline: 7.2em;
  background-color: #ffff;
  z-index: 100;
  padding-right: 9em;
}

/* Estilos para el logo */
.title {
  font-size: 2.1em;
  color: black;
  margin-left: 1em;
  transition: transform 0.3s ease;
  /* Efecto de escala al hacer hover */
}

.title:hover {
  transform: scale(1.2);
  /* Aumenta el tamaño al hacer hover */
}

/* Estilos para los elementos de la barra de navegación */
.navbar ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

/* Estilos para dar espaciado al navbar center y tamaño fuente */
.navbar-center {
  font-size: 1.3em;
  gap: 4em;
}

/* Estilos para las imágenes en el navbar */
.navbar img {
  width: 45px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: border 0.1s ease;
  /* Efecto de cambio de borde al hacer hover */
}

.navbar img:hover {
  border: 2px solid rgb(255, 132, 0);
  /* Aumenta el grosor del borde al hacer hover */
}

/* Estilos para el área de la derecha del navbar, modifica el navbar-center */
.navbar-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 6em;
  gap: 2em;
}