.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-block: 1.2em;
  z-index: 100;
  margin: 0 auto;
  background-color: #fff;
}

.title {
  font-size: 2em;
  color: #ff8400;
  transition: transform 0.3s ease;
  margin-right: -4em;
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.title:hover {
  transform: scale(1.15);
}

.title span {
  color: #1C1C1C;
  font-weight: 800;
  position: relative;
  display: inline-block;

}

.title span::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 132, 0);
  height: 3px;
  transform-origin: 50% 100%;
  transform: scaleY(0);
  transition: transform 0.3s ease;
}

.title:hover span::before {
  transform: scaleY(1);
}

.navbar section {
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar-center {

  font-size: 1.3em;
  gap: 3em;
}

.navbar--imagenUsuario {
  width: 45px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: border 0.1s ease;
}

.navbar-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.carrito-contenedor {
  display: flex;
  position: relative;
}


/* RESPONSIVE */
.navbar-hamburguesa {
  display: none;
  cursor: pointer;
}

.linea {
  width: 25px;
  height: 3px;
  background-color: #1C1C1C;
  margin: 5px;
  transition: transform 0.3s, opacity 0.3s;
}


.abierto .linea-1 {
  transform: rotate(45deg) translate(5px, 5px);
}

.abierto .linea-2 {
  opacity: 0;
}

.abierto .linea-3 {
  transform: rotate(-45deg) translate(5px, -5px);
}

@media (min-width: 320px) {
  .navbar {
    padding-inline: 1em;
    padding-right: 1.5rem;
  }


  .navbar--imagenUsuario {
    position: absolute;
    top: -10em;
  }
}

@media (min-width:1024px) {
  .navbar {
    padding-inline: 3rem;
    padding-right: 3.5rem;
  }
}

@media (max-width: 1023px) {
  .navbar-hamburguesa {
    display: block;
    z-index: 100;
  }

  .navbar--center-titulo {
    color: #1C1C1C;
    font-weight: 600;
  }

  .navbar-center {
    position: absolute;
    opacity: 0;
    top: -6em;
  }

  .navbar-center.abierto {
    opacity: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    width: 100%;
    flex-direction: column;
    padding-block: 3.6rem;
    padding-inline: 1rem;
    z-index: 100;
    overflow-y: scroll;
    overflow-x: hidden;

  }

  .contenedor--menu {
    padding-left: 0;
    align-items: start;
    left: auto;
  }

  .contenedor--menu-articulo-titulo {
    font-size: 1rem;
  }

  .contenedor--menu-articulo-lista>a {
    font-size: 12px;
    height: 30px;
  }

  .contenedor--menu-articulo {
    flex-direction: column;
  }
}

@media (min-width: 426px) {
  .navbar-center.abierto {
    max-width: 50%;
  }
}

@media (min-width:1370px) {
  .navbar {
    padding-inline: 9em;
    padding-right: 9.5rem;
  }
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}