.section-running {
  background-color: rgb(255, 132, 0);
  color: black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 450px;
  border-radius: 40px 0px 0px 0px;
}

.texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 5em;

}

.texto h1 {
  font-size: 4.2rem;
  word-spacing: .1em;
  text-transform: uppercase;
  line-height: .9em;
}

.texto span {
  font-size: 0.7em;
}

.texto p {
  font-size: 15px;
  margin-inline: 7em;
  font-weight: 500;
  text-align: justify;
  padding-top: 1.5em;
}

.section-running video {
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
}


.publicidad-text {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

a {
  text-decoration: none;
}

@media (min-width: 320px) {
  .section-running {
    grid-template-columns: none;
  }

  .texto {
    padding-block: 3rem;
  }

  .texto h1 {
    font-size: 2rem;
  }

  .texto p {
    font-size: 12px;
  }
}

@media (min-width: 375px) {
  .texto h1 {
    font-size: 3rem;
  }
}

@media (min-width: 425px) {
  .texto {
    padding-block: 4em;
  }

  .texto h1 {
    font-size: 3.5rem;
  }
}

@media (min-width: 475px) {
  .texto h1 {
    font-size: 4.5rem;
    line-height: .7em;
  }
}

@media (min-width: 551px) {
  .texto h1 {
    font-size: 5.5rem;
  }

}

@media (min-width: 791px) {
  .section-running {
    grid-template-columns: 1fr 1fr;
  }

  .texto h1 {
    font-size: 2.9rem;
  }

  .texto p {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  .texto {
    padding-block: 6rem;
  }

  .texto h1 {
    font-size: 4.6rem;
  }

  .texto p {
    max-width: 500px;
  }
}

@media (min-width:1440px) {
  .texto h1 {
    font-size: 7rem;
    line-height: 6rem;
  }

  .texto p {
    font-size: 1em;
  }
}