.footer-contenedor {
  background-color: #1c1c1c;
  position: relative;
  color: #fff;
  top: 5.5em;
}

.footer-top {
  display: flex;
  justify-content: space-around;
  padding: 3em 4em 7em;
  gap: 5em;
}

.footer-contenedor h2,
.footer-contenedor h3 {
  cursor: pointer;
}

.footer-contenedor hr {
  border-color: #7e7e7e;
}

.footer-contenedor p {
  color: #7e7e7e;
  font-size: 0.8em;
  word-spacing: 0.2em;
  line-height: 2em;
  cursor: pointer;
}


.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 5.5em 0.6em;
}

.footer-bottom .icons {
  font-size: 1.5em;
  margin-bottom: 2px;
}

.footer-bottom h2,
.footer-bottom p {
  display: flex;
  align-items: center;
  font-size: 0.8em;
}

.footer-bottom p {
  font-size: 0.7em;
  text-decoration: none;
}

.derechos {
  display: flex;
  gap: 1em;
  padding-right: 1.3em;
}


.terminos {
  display: flex;
  gap: 1em;
}

.derechos a {
  font-size: .7em;
  color: #7e7e7e;
}

.derechos a:hover {
  text-decoration: underline;
}

.redes a {
  display: inline-flex;
  cursor: pointer;
  font-size: 2em;
  color: #7e7e7e;
  padding-inline: 0.4em;
  transition: transform 0.3s ease, color 0.3s ease;
}

.redes a:hover {
  transform: scale(1.1) !important;
}

.footer-contenedor h2:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

.footer-contenedor p:hover {
  text-decoration: underline;
}

@media (max-width: 880px) and (min-width: 1024px) {
  .ayuda p {
    width: 114px;
  }

  .acerca h2 {
    width: 125px;
  }

  .redes {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  .redes a {
    padding-inline: .25em;
  }

  .footer-top {
    padding: 3em 4em 4em;
  }

  .footer-bottom {
    padding: 1em 3.5em 0.6em;
  }

  .footer-bottom p {
    text-align: center;
  }
}

@media (max-width: 879px) {
  /* .footer-contenedor {
    background-color: purple;
  } */
}