.slider {
  display: flex;
  position: relative;
  align-content: space-between;
  justify-content: center;
  min-height: 570px;
  gap: 1.1em;
  padding-block: 1em;
  background-color: #f6f6f6;
  /* background-color: purple; */
}

.slider-detail a {
  display: flex;
  justify-content: center;
}

.slider-detail {
  width: 220px;
  /* background-color: green; */
}

.slider-detail h3 {
  text-align: center;
  /* background-color: red; */
}

.slider-detail img {
  min-width: 250px;
  cursor: pointer;
  border-radius: 100%;
}

.slider-detail img:hover {
  transition: transform 0.5s ease;
  transform: rotate(-20deg);
}

.button-slider-before,
.button-slider-next {
  position: absolute;
  top: 150px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 20;
  border-radius: 100%;
  background-color: rgba(128, 128, 128, 0.3);
}

.button-slider-before:hover,
.button-slider-next:hover {
  transform: scale(1.4);
  transition: transform 0.2s ease;
}

.button-slider-next {
  right: 0px;
}

.button-slider-before {
  left: 0px;
}

/* MOBILE */
@media (min-width: 320px) {
  .slider {
    min-height: 340px;
  }

  .button-slider-before,
  .button-slider-next {
    width: 40px;
    height: 40px;
  }

  .button-slider-next {
    right: 15px;
  }

  .button-slider-before {
    left: 15px;
  }
}

@media (min-width: 375px) {
  .navbar {
    padding-inline: 3em;
  }
}

@media (min-width: 767px) {
  .slider {
    gap: 2.1rem;
  }
}

@media (min-width: 1100px) {

  .button-slider-before,
  .button-slider-next {
    width: 60px;
    height: 60px;
  }

  .button-slider-next {
    right: 15px;
  }

  .button-slider-before {
    left: 15px;
  }
}

@media (min-width: 1300px) {
  .button-slider-next {
    right: 6rem;
  }

  .button-slider-before {
    left: 6rem;
  }
}

@media (min-width: 1366px) {
  .slider {
    gap: 3.6rem;
  }
}