.slider {
  display: flex;
  position: relative;
  justify-content: center;
  gap: 1.1em;
  height: 340px;
  padding-block: 1em;
  background-color: #f6f6f6;
}

.slider-detail a {
  display: flex;
  justify-content: center;
}

.slider-detail {
  width: 220px;
}

.slider-detail h3 {
  text-align: center;
}

.slider-detail img {
  width: 250px;
  cursor: pointer;
  border-radius: 100%;
  aspect-ratio: 1/1;
}

.slider-detail img:hover {
  transition: transform 0.5s ease;
  transform: rotate(-20deg);
}

.button-slider-before,
.button-slider-next {
  position: absolute;
  top: 150px;
  cursor: pointer;
  aspect-ratio: 1/1;
  z-index: 20;
  border-radius: 100%;
  background-color: rgba(128, 128, 128, 0.3);
}

.button-slider-before:hover,
.button-slider-next:hover {
  transform: scale(1.4);
  transition: transform 0.2s ease;
}

/* MOBILE */
@media (min-width: 320px) {
  .slider {
    height: 340px;
    aspect-ratio: 16/17;
  }

  .button-slider-before,
  .button-slider-next {
    width: 40px;
    height: 40px;
  }

  .button-slider-next {
    right: 15px;
  }

  .button-slider-before {
    left: 15px;
  }
}

@media (min-width: 375px) {
  .navbar {
    padding-inline: 3em;
  }

  .slider {
    aspect-ratio: 75/68;
  }
}

@media (min-width: 425px) {
  .slider {
    aspect-ratio: 5/4;
  }
}

@media (min-width: 768px) {
  .slider {
    gap: 2.1rem;
    aspect-ratio: 192/85;
  }
}

@media (min-width: 1100px) {

  .button-slider-before,
  .button-slider-next {
    width: 60px;
    height: 60px;
  }

  .slider {
    aspect-ratio: 55/17;
  }

  .button-slider-next {
    right: 15px;
  }

  .button-slider-before {
    left: 15px;
  }
}

@media (min-width: 1300px) {
  .button-slider-next {
    right: 6rem;
  }

  .button-slider-before {
    left: 6rem;
  }

  .slider {
    aspect-ratio: 65/17;
  }
}

@media (min-width: 1366px) {
  .slider {
    gap: 3.6rem;
    aspect-ratio: 683/170;
  }
}